Source: ipfs
Section: net
Priority: extra
Maintainer: Sergio Rubio <rubiojr@frameos.org>
Build-Depends: debhelper (>= 8.0.0),
               golang-go (>= 1.4)
Standards-Version: 3.9.2
#Vcs-Git: git://github.com/ipfs/go-ipfs.git
#Vcs-Browser: http://github.com/ipfs/go-ipfs

Package: ipfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ipfs is a global, versioned, peer-to-peer filesystem
  This is the package version of the Go implementation.
